<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.offlineimap</string>

  <key>Program</key>
  <string>/usr/local/bin/offlineimap</string>

  <key>WorkingDirectory</key>
  <string>/Users/natpen/code/launchd/offlineimap</string>

  <key>Nice</key>
  <integer>0</integer>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>0</integer>
    <key>Minute</key>
    <integer>1</integer>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardOutPath</key>
  <string>output.log</string>
  <key>StandardErrorPath</key>
  <string>error.log</string>
</dict>
</plist>
